Task-2

Q1:. Is gender independent of education level? A random sample of 395 people were surveyed
and each person was asked to report the highest education level they obtained. The data that
resulted from the survey is summarized in the following table:
High School Bachelors Masters Ph.d. Total
Female 60 54 46 41 201
Male 40 44 53 57 194
Total 100 98 99 98 395
Question: Are gender and education level dependent at 5% level of significance? In other
words, given the data collected above, is there a relationship between the gender of an
individual and the level of education that they have obtained?

In [0]:
import numpy as np
import pandas as pd
import scipy.stats as st

In [7]:
level_of_significance = 0.05
# Given data
data = {'Gender'          : ['Male', 'Female'],
        'High School'     : [60, 40],
        'Bachelors'     : [54, 44],
        'Masters'     : [46, 53],
        'Ph.d.'     : [41, 57],
        }
#Convert to data frame
df = pd.DataFrame(data)

df.set_index('Gender' , inplace=True)
df.loc['sum'] = df.sum()
print(df)

        Bachelors  High School  Masters  Ph.d.
Gender
Male           54           60       46     41
Female         44           40       53     57
sum            98          100       99     98

In [8]:
#here we need to apply Chi-Square Test for Independence
#H0: Gender and education level are independent.
#H1: Gender and education level are not independent.

lst_male = np.asarray(df[:'Male'])[0]
lst_female = np.asarray(df[:'Female'])[1]
men_women = np.array([lst_male,lst_female])
out = st.chi2_contingency(men_women)

print("The Chi-Sq value is {:.3f} and the P-Value is {:.3f} for this dataset.".format(out[0], out[1]))
print("As per the question, level of significance is 5% i.e. {:.3f}.".format(level_of_significance))

if out[1] < level_of_significance :
    print("Since the P-Value is Less than Level of Significance, we can not aceppet the Null Hypothesis")
else:
    print("Since the P-Value is Greater than level of Significance, we can not Reject the Null Hypothesis")

The Chi-Sq value is 8.006 and the P-Value is 0.046 for this dataset.
As per the question, level of significance is 5% i.e. 0.050.
Since the P-Value is Less than Level of Significance, we can not aceppet the Null Hypothesis

Q2: Using the following data, perform a oneway analysis of variance using Î±=.05. Write up the
results in APA format.

[Group1: 51, 45, 33, 45, 67]
[Group2: 23, 43, 23, 43, 45]
[Group3: 56, 76, 74, 87, 56]

In [0]:
import numpy as np
import pandas as pd
import scipy.stats as st
from scipy.stats import f

In [18]:
data = {"Group1": [51, 45, 33, 45, 67],
        "Group2": [23, 43, 23, 43, 45],
        "Group3": [56, 76, 74, 87, 56]}
df = pd.DataFrame(data)

print(df)

   Group1  Group2  Group3
0      51      23      56
1      45      43      76
2      33      23      74
3      45      43      87
4      67      45      56

In [19]:
Alpha_Val = 0.05

print('-------------------------------------------------------')
print("H0 = (mean_for_Gr1 == mean_for_Gr2 == mean_for_Gr3)")
print("H0 = Means have some differance")
print('-------------------------------------------------------')

df_rows = df.shape[0]
df_col = df.shape[1]

DOF_between = df.shape[1] - 1
DOF_within = (df.shape[0] * df.shape[1]) - df.shape[1]
DOF_total = DOF_between + DOF_within

print('DOF_within = {} , DOF_between = {} and DOF_total = {}'.format(DOF_within,DOF_between,DOF_total))
print('-------------------------------------------------------')

F_critical = st.f.ppf(q=1-Alpha_Val, dfn=DOF_between, dfd=DOF_within)

print('F_critical value here is {}'.format(F_critical))
print('-------------------------------------------------------')

-------------------------------------------------------
H0 = (mean_for_Gr1 == mean_for_Gr2 == mean_for_Gr3)
H0 = Means have some differance
-------------------------------------------------------
DOF_within = 12 , DOF_between = 2 and DOF_total = 14
-------------------------------------------------------
F_critical value here is 3.8852938346523933
-------------------------------------------------------

In [20]:
#Calculating square of dev using mean and Dev for each group

new_col = (df.Group1 - df.Group1.mean())**2
df.insert(loc=1, column='sq_of_dev_Gr1', value=new_col)

new_col = (df.Group2 - df.Group2.mean())**2
df.insert(loc=3, column='sq_of_dev_Gr2', value=new_col)

new_col = (df.Group3 - df.Group3.mean())**2
df.insert(loc=5, column='sq_of_dev_Gr3', value=new_col)

Grand_mean = (df.Group1.sum()+df.Group2.sum()+df.Group3.sum())/(df_rows*df_col)


sum_sq_total = ((df.Group1-Grand_mean)**2).sum() \
                +((df.Group2-Grand_mean)**2).sum() \
                +((df.Group3-Grand_mean)**2).sum()
   
print("sum_sq_total is {}".format(sum_sq_total))

sum_sq_total is 4883.733333333334

In [21]:
sum_sq_within = df.sq_of_dev_Gr1.sum()+df.sq_of_dev_Gr2.sum()+df.sq_of_dev_Gr3.sum()

print("sum_sq_within is {}".format(sum_sq_within))

sum_sq_between = sum_sq_total - sum_sq_within
print("sum_sq_between is {}".format(sum_sq_between))
print('-------------------------------------------------------')

Var_between = sum_sq_between / DOF_between
print("Var_between is {}".format(Var_between))

Var_within = sum_sq_within / DOF_within
print("Var_within is {}".format(Var_within))

F_value = Var_between/Var_within

print("F_value is {}".format(F_value))
print('-------------------------------------------------------')

if F_value > F_critical:
    print("since F_value is Greater than F_critical, Reject the null Hypothysis !!")
else:
    print("since F_critical is Greater than F_value, We can't reject the null Hypothysis !!")

sum_sq_within is 1860.8
sum_sq_between is 3022.9333333333334
-------------------------------------------------------
Var_between is 1511.4666666666667
Var_within is 155.06666666666666
F_value is 9.747205503009459
-------------------------------------------------------
since F_value is Greater than F_critical, Reject the null Hypothysis !!

Q3:Calculate F Test for given 10, 20, 30, 40, 50 and 5,10,15, 20, 25.

For 10, 20, 30, 40, 50:

In [22]:
import scipy.stats as stats

#Considering Alpha_Val as 0.05

Alpha_Val = 0.05

A = [10, 20, 30, 40, 50]
B = [5, 10, 15, 20, 25]

DOF_between = 1
DOF_within = len(A) + len(B) - 2

print('DOF_within = {} , DOF_between = {}'.format(DOF_within,DOF_between))

F_critical = st.f.ppf(q=1-Alpha_Val, dfn=DOF_between, dfd=DOF_within)
print('F_critical value here is {}'.format(F_critical))

out = stats.f_oneway(A,B)

print("F_value = {}, P_value = {}".format(out[0],out[1]))
F_critical = st.f.ppf(q=1-Alpha_Val, dfn=DOF_between, dfd=DOF_total)

DOF_within = 8 , DOF_between = 1
F_critical value here is 5.317655071578714
F_value = 3.6, P_value = 0.0943497728424377